*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
     font-family: 'Overpass', sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    margin-bottom: 1rem;
}

.background-container--img1{
    background-image: url(./img/bg1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}


.img-content{
   
    background-color: black;
    color: white;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    outline-offset: 1rem;
    outline: outset .5rem purple;

}

.background-container--light1 {
    background-color: rgb(241,241,241);
    text-align: center;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 3rem 5rem;
    color: #666;
    word-spacing: 3px;
    line-height: 1.5rem;
   
}

.background-container--img2{
    background-image: url(./img/bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.logo{
    text-align: center;
}


.background-container--dark1 {
    background-color: rgb(5, 5, 5);
    text-align: center;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 3rem 5rem;
    color: rgb(255, 254, 254);
    word-spacing: 3px;
    line-height: 1.5rem;
}

.background-container--img3{
    background-image: url(./img/bg3.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.background-container--light2{
    background-color: rgb(241,241,241);
    text-align: center;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 3rem 5rem;
    color: #666;
    word-spacing: 3px;
    line-height: 1.5rem;
}

.background-container--img4{
    background-image: url(./img/bg4.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.background-container--dark2 {
    background-color: rgb(5, 5, 5);
    text-align: center;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 3rem 5rem;
    color: rgb(255, 254, 254);
    word-spacing: 3px;
    line-height: 1.5rem;
}

.background-container--img5{
    background-image: url(./img/bg\ \(1\).jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}


@media (max-width:860px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .3rem ;
    }
    
}
@media (max-width:650px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .3rem ;
    }
    
}

@media (max-width:430px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: .7rem;
        letter-spacing: 0rem ;
    }
    
}